<!DOCTYPE html>

<html lang ="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patient Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg accent-blue fixed-top ">
    <div class="container">
        <a class="navbar-brand" th:href="'/'+${username}">
            <img th:src="@{/images/heart-rate.png}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="'/'+${username}">User profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/appointments/' + ${username}">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/pastAppointments/' + ${username}">Past Appointments</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="bg-primary py-5 mb-5 banner">
    <div class="container h-100 ">
        <div class="row h-100 align-items-center ">
            <div class="col-lg-12 ">
                <h1 class="display-4 text-white mt-5 mb-2">Change GP</h1>
                <p class="lead mb-5 text-white-50">Here you can change you GP</p>
            </div>
        </div>
    </div>
</header>


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-12">
            <div class="alert alert-warning" role="alert">
               Please select your new GP
            </div>
        </div>
        <form id="updateGPForm" th:object="${doctorModelAndView}" th:action="@{'/updateGP/' + ${username}}"  method="post">

            <div class="col-6">
                <label>New GP</label>

            </div>
            <div class="col-6">
                <select th:field="*{username}">
                    <option value=""> -- </option>
                    <option th:each="doctor : ${doctors}"
                            th:value="${doctor.username}"
                            th:utext='${doctor.getName() +" "+ doctor.getUsername()}'/>
                </select>
            </div>

        </form>
        <div class="col-12">
            <button type="submit" form="updateGPForm" class="btn btn-lg accent-orange mt-3">Submit &raquo;</button>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.js}"></script>

</body>

</html>
