<!DOCTYPE html>

<html lang ="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Doctor Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg accent-blue fixed-top ">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/heart-rate.png}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">User profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Appointments</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statistics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Diagnosis</a>
                        <a class="dropdown-item" href="#">GP</a>
                        <a class="dropdown-item" href="#">Patients</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="bg-primary py-5 mb-5 banner">
    <div class="container h-100 ">
        <div class="row h-100 align-items-center ">
            <div class="col-lg-12 ">
                <h1 class="display-4 text-white mt-5 mb-2">Your Profile</h1>
                <p class="lead mb-5 text-white-50">Here you can find and edit all your information</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Personal Info</h2>
            <hr>
            <div class="row">
                <div class="col-12">
                    <form id="editform" class="ml-3" th:object="${doctor}" th:action="@{'/update/' + ${docUsername}}"  method="post">

                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" />


                        <label for="medicalSpeciality">Specialty</label>
                        <input type="text" class="form-control" id="medicalSpeciality" th:field="*{medicalSpeciality}"/>


                    </form>
                </div>

            </div>
            <div class="col-6">
                <button type="submit" form="editform" class="btn btn-lg accent-orange mt-3">Submit &raquo;</button>
            </div>
            <div class="col-6">
                <a th:href="@{'/delete/' + ${docUsername}}" class="btn btn-lg btn-danger mt-3">Delete &raquo;</a>
            </div>


        </div>
        <div class="col-md-4 mb-5">
            <img th:src="@{/images/doctor.png}"  class="img-fluid doctor-image" alt="User Image">
        </div>

        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>

</body>

</html>
