<!DOCTYPE html>

<html lang ="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patient Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg accent-blue fixed-top ">
    <div class="container">
        <a class="navbar-brand" th:href="'/'+${username}">
            <img th:src="@{/images/heart-rate.png}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="'/'+${username}">User profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/appointments/' + ${username}">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/pastAppointments/' + ${username}">Past Appointments</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="bg-primary py-5 mb-5 banner">
    <div class="container h-100 ">
        <div class="row h-100 align-items-center ">
            <div class="col-lg-12 ">
                <h1 class="display-4 text-white mt-5 mb-2">Book Appointment</h1>
                <p class="lead mb-5 text-white-50">Here you can book an appointment</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-12">
            <table th:if="${hasAppointments}" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="appointment : ${appointments}">
                    <tr>
                        <td th:text="${appointment.dateOfAppointment}"></td>
                        <td th:text="${appointment.doctor.name}"></td>
                        <td >
                            Done
                        </td>

                        <td>
                            <a th:href="@{'/seeappointment/' +${username}+ '/' + ${appointment.getId()}}" class="btn btn-lg btn-warning mt-3">See results &raquo;</a>
                        </td>
                    </tr>
                </th:block>

                </tbody>
            </table>
            <div th:unless="${hasAppointments}" class="alert alert-warning" role="alert">
                You have no past appointments
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row my-3">
        <div class="col-12">
            <a th:href="@{'/addAppointment/' + ${username}}" class="btn btn-lg btn-warning mt-3">Make an appointment &raquo;</a>

        </div>
    </div>
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
